---
apiVersion: v1
kind: Secret
metadata:
  name: backend-secrets
data:
  POSTGRES_HOST: hostname
  POSTGRES_DB: username
  POSTGRES_USER: admin
  POSTGRES_PASSWORD: needbetterpassword
  ACCESS_TOKEN_SECRET: xxxx
  REFRESH_TOKEN_SECRET: yyyy
  SENTRY_CLIENT_ID: REPLACE_ME_WITH_YOUR_CLIENT_ID
  SENTRY_CLIENT_SECRET: REPLACE_ME_WITH_YOUR_CLIENT_SECRET
  GITHUB_CLIENT_ID: REPLACE_ME_WITH_YOUR_GITHUB_OAUTH_CLIENT_ID
  GITHUB_CLIENT_SECRET: REPLACE_ME_WITH_YOUR_GITHUB_OAUTH_CLIENT_SECRET
  GITHUB_APP_PRIVATE_KEY: REPLACE_ME_WITH_YOUR_GITHUB_APP_PRIVATE_SECRET
  GITHUB_APP_ID: REPLACE_ME_WITH_YOUR_GITHUB_APP_ID
  GITHUB_APP_WEBHOOK_SECRET: REPLACE_ME_WITH_YOUR_GITHUB_APP_WEBHOOK_SECRET
